.paginator{
    margin-top: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
}
.pageButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    color: red;
    border: none;
    background: none;
}
.pageButton:hover{
    color: white;
    background: orange;
}
.button{
    display: flex;
    align-items: center;
    font-size: 30px;
    border: none;
    background: none;
    color: red;
}
.button:hover:enabled{
    color: white;
    background: orange;}
.selected{
    color: white;
    background: orange;
}