.characters{
    padding: var(--main-padding);
}
.labelWrapper{
    display: flex;
    align-items: flex-end;
    gap: 10px;
}
.labelCharacters{
    font-size: 50px;
    font-weight: 700;
}
.labelAmount{
    font-size: 30px;
    font-weight: 700;
    color: grey;
    line-height: 44px;
}
.charactersGrid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: var(--main-padding);
    grid-row-gap: calc(var(--main-padding) / 2);
}
.divider{
    border: none;
    background: grey;
    height: 1px;
    grid-column-start: 1;
    grid-column-end: 7;
    margin: var(--main-padding) 0;
}
