.form{
    height: 45px;
    display: flex;
    justify-content: space-between;
    gap: var(--main-padding);
}
.form input{
    flex: 6;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
}
.form button{
    height: 100%;
    flex: 1;
    background: orange;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
}
.labelWrapper{
    display: flex;
    align-items: flex-end;
    gap: 10px;
}
.labelCharacters{
    font-size: 50px;
    font-weight: 700;
}
.labelAmount{
    font-size: 30px;
    font-weight: 700;
    color: grey;
    line-height: 60px;
}