.logo{
    width: 100px;
}
.header{
    width: 100%;
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}
.nav *{
    text-decoration: none;
    display: inline;
    padding: 20px 20px;
    color: orange;
    font-size: 20px;
    font-weight: 700;
}
.nav *:hover{
    text-decoration: underline;
}
@media(max-width: 550px){
    .nav *{
        display: none;
    }
}