* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root{
  --main-padding: 40px;
  --sub-padding: 20px;
  --color-primary: red;
  --color-secondary: orange;
  --color-third: grey;
  --color-gradient-start: rgba(139,167,32,0);
}
body{
  background: var(--color-bg);
}
body[data-theme="light"]{
  --color-text: black;
  --color-bg: white;
  --color-footer: grey;
  --color-gradient-end: white;
}
body[data-theme="dark"]{
  --color-text: white;
  --color-bg: black;
  --color-footer: #121212;
  --color-gradient-end: black;
}
.link{
  text-decoration: none;
  color: cornflowerblue;
  width: fit-content;
}
.link:hover{
  text-decoration: underline;
}
