* {
  margin: 0;
  box-sizing: border-box;
}
:root{
  --main-padding: 40px;
  --sub-padding: 20px;
  --footer-height: 15vh;
  --content-height: calc(100vh - var(--footer-height));
}
.link{
  text-decoration: none;
  color: cornflowerblue;
  width: fit-content;
}
.link:hover{
  text-decoration: underline;
}
